<app-header></app-header>

<section class="blog-post">
  <h2>Viajar con mi mascota en avión</h2>
  <img src="assets/images/images-blog/ViajarMascota.jpg" alt="Viajar con mi mascota en avión" />

  <p>Cada vez son más las personas que quieren llevar de viaje a su mascota durante las vacaciones. Por eso quisimos hacer 
    esta entrada del blog Petplus para darte algunos consejos y evitar sanciones en el aeropuerto.</p>

  <h3>¿Qué debo mirar primero?</h3>
  <h4>Asegúrate que tu aerolínea tiene este servicio.</h4>
  <p>
    En Colombia hay varias compañías aéreas que aceptan mascotas durante sus vuelos (dentro o fuera de la cabina de pasajeros), 
    sin embargo, te recomendamos verificar este servicio en su página web o atención telefónica. Te dejamos algunas que te 
    permiten viajar con tu perro o gato:
  </p>
  <ol>
    <li>Avianca</li>
    <li>Latam</li>
    <li>Viva Colombia</li>
    <li>Satena</li>
    <li>Copa Airlines</li>
  </ol>

  <h4>Investiga sobre los documentos y requisitos que debes presentar en la aerolínea antes del embarque de tu mascota</h4>
  <p>
    Como requerimiento, las aerolíneas solicitan ciertos documentos que certifiquen que tu mascota está en aptas condiciones 
    para viajar fuera o dentro del país utilizando este servicio aéreo. Si no presentas estos documentos completos, puede que 
    te nieguen la posibilidad de viajar junto a tu mascota.
  </p>

  <p><strong>Para vuelo con destino nacional (Colombia)</strong> debes presentar el carné de tu perro o gato con las vacunas al día.</p>
  <p>
    Mientras que para <strong>destinos internacionales</strong>, puedes expedir en el aeropuerto un certificado de inspección 
    sanitaria otorgado por el ICA (Instituto Colombiano Agropecuario), ten en cuenta que hay países que exigen trámites adicionales 
    que pueden tardar varias semanas.
  </p>

  <img src="assets/images/images-blog/images-viaje-mascota/MascotaCabina.jpeg" alt="Mascota dentro de una cabina de avión" />

  <p>
    Adicionalmente, si tu mascota es un cachorro, debe contar con al menos 12 semanas, debe tener su plan de vacunas <strong>completo</strong> 
    y un certificado de una clínica o médico veterinario que refleje su buena salud y que es apto para viajar.
  </p>

  <h4>En el aeropuerto, ¿qué debe tener mi mascota?</h4>
  <p>
    <strong>¡IMPORTANTE!</strong> Mientras tu mascota se encuentre en las instaciones del Aeropuerto debe tener pues su <strong>collar, 
        correa y bozal</strong> incluso cuando paso por el control de seguridad. Y <strong>durante el vuelo</strong> es importante 
        que permanezca dentro del maletín o huacal.
    Por ello, asegúrate de comprar un guacal apropiado para el tamaño de tu perro y que cumpla con las especificaciones que demanda 
    tu aerolínea.
  </p>

  <h4>Verifica si tu mascota va en cabina o en bodega.</h4>
  <p>
    Algunas aerolíneas permiten que tu mascota viaje contigo dentro de la cabina si cumple con ciertas especificaciones, una de 
    ellas es el <strong>peso y el tamaño</strong>. Usualmente, aquellas que superan los 11 kg deben ir en bodega en un contenedor 
    de paredes metálicas.
  </p>

  <p>No olvides verificar disponibilidad de espacio antes de comprar el tiquete de tu mascota, ten en cuenta que los cupos son limitados.</p>

  <hr style="margin: 40px 0;" />

  <h2 style="text-align: center; font-size: 1.1rem; font-weight: bold; letter-spacing: 1px; color: #666565;">
    ─── OTROS POST ───
  </h2>

  <div class="blog-contenedor">
    <!-- Tarjeta 1 -->
    <a href="otitis-en-perros" class="blog-tarjeta-link">
      <div class="blog-tarjeta">
        <div class="blog-imagen">
          <img src="assets/images/images-landing-page/BlogOtitis.jpg" alt="Otitis en perros">
          <div class="blog-hover"></div>
        </div>
        <div class="blog-contenido">
          <h3>OTITIS EN PERROS</h3>
          <p>Otitis en perros, su mascota puede padecerlo.</p>
        </div>
      </div>
    </a>

    <!-- Tarjeta 2 -->
    <a href="desparacitacion-de-mascotas" class="blog-tarjeta-link">
      <div class="blog-tarjeta">
        <div class="blog-imagen">
          <img src="assets/images/images-landing-page/BlogDesparacitacionMascota.jpg" alt="Desparasitación de mascotas">
          <div class="blog-hover"></div>
        </div>
        <div class="blog-contenido">
          <h3>Desparasitación de mascotas: todo lo que debes saber.</h3>
          <p>Desparasitación de tu mascota, muchas veces no le damos la importancia hasta no ver los síntomas.</p>
        </div>
      </div>
    </a>

    <!-- Tarjeta 3 -->
    <a href="vacunacion-mascotas" class="blog-tarjeta-link">
      <div class="blog-tarjeta">
        <div class="blog-imagen">
          <img src="assets/images/images-landing-page/BlogVacunacion.jpg" alt="Vacunación de mascotas">
          <div class="blog-hover"></div>
        </div>
        <div class="blog-contenido">
          <h3>Vacunación de mascotas: Prevención de enfermedades mortales</h3>
          <p>Vacunación de mascotas: Protege a tu familia y a tu mascota de enfermedades mortales...</p>
        </div>
      </div>
    </a>
  </div>
</section>

<app-footer></app-footer>
