/* Estilos del Footer */
.footer {
    background-color: #23969F; /* Color de fondo */
    padding: 30px 10px;
    height: 170px;
    color: white;
    text-align: left;
    margin-bottom: -15px;
    margin-left: -20px;
    margin-right: -20px;
    /*width: 100%;*/
}


/* Contenedor principal con 4 columnas */
.footer-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr); /* 3 columnas de igual tamaño */
    width: 100%;
    margin: auto;
    gap: 1rem;
    flex: 1;
}

/* Información de Bucky's Vet */
.footer-info {
    font-size: 1rem;
    line-height: 1;
    text-align: justify;
}

/* Sección del Blog */
.footer-blog h4,
.footer-politicas h4{
    margin: 0 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.footer-politicas a{
    margin: 0 4rem;
}

/* Cada publicación del blog */
.footer-blog-item {
    margin: 0 4rem;
    display: flex;
    width: 470px;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-blog-item img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.footer-blog-item a {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}

.footer-blog-item a:hover {
    color: #5EB896;
}

.footer-blog-item span {
    font-size: 0.8rem;
    color: #ddd;
}

/* Políticas y condiciones */
.footer-politicas a {
    display: block;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}

.footer-politicas a:hover {
    color: #5EB896;
}

/* Redes sociales y contacto */
.footer-contacto {
    text-align: center;
}

/* Redes sociales */
.footer-redes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.footer-redes img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}


.footer-redes img:hover {
    transform: scale(1.1);
}

/* Logo */
.footer-logo img {
    width: 110px;
    height: 120px
    
}
