/* Navbar */
.navbar {
  background-color: #23969F;  
  padding: 20px 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 95%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 90px;
  margin-right: 15px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.slogan {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  color: #FFFFFF;
  opacity: 0.8;
}

/* Botones */
.actions {
  display: flex;
  gap: 10px;
}

.btn-primary, .btn-secondary {
  background-color: #5EB896;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #4BAE59;
}

.dashboard-container {
  padding: 130px 100px 30px 100px;
}

.dashboard-container h2 {
  text-align: center;
  font-size: 2.5rem; /* Puedes ajustar si quieres más grande */
  margin-bottom: 30px;
  color: #333333; /* Un gris oscuro elegante */
}

.tarjetas-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

.kpi-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.kpi-number {
  font-size: 2rem;
  font-weight: bold;
  color: #23969F;
}

/* Contenedor que envuelve las dos secciones de gráficas */
.graficas-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Estilo para la sección de gráficas de pie (izquierda) */
.graficasPie-container {
  flex: 0.8;
  display: flex;
  flex-direction: column; /* Establece las gráficas una debajo de la otra */
  gap: 20px;
  margin-bottom: 40px;
}

/* Estilo para la sección de gráficas de barras y otras (derecha) */
.graficasChar-container {
  flex: 1; /* Ocupa el doble del espacio comparado con las gráficas de pie */
  display: flex;
  flex-direction: column; /* Establece las gráficas una debajo de la otra */
  gap: 20px;
  justify-content: flex-start; /* Alinea las gráficas al inicio */
  margin-bottom: 40px;
}

/* Cada gráfica dentro de su contenedor */
.grafica-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

canvas {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.tabla-container {
  display: flex;
  justify-content: space-between; 
  gap: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.tabla-item {
  flex: 1 1 45%; 
}

.tabla-container h3 {
  text-align: center; 
  font-size: 2rem;
  color: #333333;
  margin-bottom: 10px;
}

.tabla-container table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #23969F;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
