<header>
  <nav class="navbar">
      <div class="logo">
          <a href="LandingPage.html">
              <img src="assets/images/images-landing-page/Buckys_Vet_LOGO_sin_fondo.png" alt="Bucky's Vet Logo" class="logo-img">
          </a>
          <div class="logo-text">
              Bucky's Vet
              <span class="slogan">Peludos sanos y felices</span>
          </div>
      </div>
      
      <!-- Botones de acción -->
      <div class="actions">
          <button class="btn btn-primary" [routerLink]="['/veterinarios']">Veterinarios</button>
          <button class="btn btn-secondary" (click)="cerrarSesion()">Cerrar Sesión</button>
      </div>
  </nav>
</header>

<div class="dashboard-container">
  <h2>Dashboard Administrador</h2>

  <div class="tarjetas-container">
    <div class="kpi-card">
      <h3>Tratamientos Último Mes</h3>
      <p class="kpi-number">{{ cantidadTratamientosUltimoMes }}</p>
    </div>

    <div class="kpi-card">
      <h3>Veterinarios Activos</h3>
      <p class="kpi-number">{{ cantidadVeterinariosActivos }}</p>
    </div>

    <div class="kpi-card">
      <h3>Veterinarios Inactivos</h3>
      <p class="kpi-number">{{ cantidadVeterinariosInactivos }}</p>
    </div>

    <div class="kpi-card">
      <h3>Mascotas Totales</h3>
      <p class="kpi-number">{{ cantidadMascotasTotales }}</p>
    </div>

    <div class="kpi-card">
      <h3>Mascotas Activas</h3>
      <p class="kpi-number">{{ cantidadMascotasActivas }}</p>
    </div>

    <div class="kpi-card">
        <h3>Ventas Totales</h3>
        <p class="kpi-number">{{ ventasTotales | currency:'COP':'symbol':'1.0-0' }}</p>
    </div>

    <div class="kpi-card">
      <h3>Ganancias Totales</h3>
      <p class="kpi-number">{{ gananciasTotales | currency:'COP':'symbol':'1.0-0' }}</p>
    </div>
  </div>  

  <div class="graficas-container">
    <div class="graficasPie-container">
      <div class="grafica-item">
        <h3>Veterinarios (Activos/Inactivos)</h3>
        <canvas baseChart [data]="veterinariosPieData" [type]="veterinariosPieType"></canvas>
      </div>
  
      <div class="grafica-item">
        <h3>Mascotas (Activas/Inactivas)</h3>
        <canvas baseChart [data]="mascotasPieData" [type]="mascotasPieType"></canvas>
      </div>
    </div>
  
    <div class="graficasChar-container">
      <div class="grafica-item">
        <h3>Gráfica de Tratamientos por Medicamento (Último Mes)</h3>
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType"></canvas>
      </div>
  
      <div class="grafica-item">
        <h3>Ganancias por Medicamento</h3>
        <canvas baseChart [data]="gananciasData" [options]="gananciasOptions" [type]="'bar'"></canvas>
      </div>
  
      <div class="grafica-item">
        <h3 style="text-align: center;">Gráfica - Top 3 Tratamientos Más Vendidos</h3>
        <canvas baseChart [data]="top3ChartData" [options]="top3ChartOptions" [type]="top3ChartType"></canvas>
      </div>
    </div>
  </div>
  

  <div class="tabla-container">
    <div class="tabla-item">
        <h3>Tratamientos por Medicamento (Último Mes)</h3>
        <table>
          <thead>
            <tr>
              <th>Medicamento</th>
              <th>Cantidad Administrada</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tratamientosPorMedicamento">
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="tabla-item">
        <h3>Top 3 Tratamientos Más Vendidos</h3>
        <table>
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Unidades Vendidas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tratamiento of top3Tratamientos">
              <td>{{ tratamiento.descripcion }}</td>
              <td>{{ tratamiento.cantidad }}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<app-footer></app-footer>