<app-header></app-header>
<!-- Sección del Blog -->
<section class="blog">
    <p class="blog-subtitulo">PUBLICACIONES DE INTERÉS PARA TU MASCOTA</p>
    <h2 class="blog-titulo">BLOG</h2>
    <div class="blog-contenedor">

        <!-- Tarjeta 1 -->
         <a href="otitis-en-perros" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogOtitis.jpg" alt="Otitis en perros">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>OTITIS EN PERROS</h3>
                    <p>Otitis en perros, su mascota puede padecerlo.</p>
                    <button class="btn-leer-mas">LEER MÁS</button>
                </div>
            </div>
         </a>
        
        <!-- Tarjeta 2 -->
        <a href="desparacitacion-de-mascotas" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogDesparacitacionMascota.jpg" alt="Desparasitación de mascotas">
                    <div class="blog-hover"></div>
                </div>
            <div class="blog-contenido">
                <h3>Desparasitación de mascotas: todo lo que debes saber.</h3>
                <p>Desparasitación de tu mascota, muchas veces no le damos la importancia hasta no ver los síntomas.</p>
                <button class="btn-leer-mas">LEER MÁS</button>
            </div>
            </div>
         </a>
        
        <!-- Tarjeta 3 -->
        <a href="vacunacion-mascotas" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogVacunacion.jpg" alt="Vacunación de mascotas">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>Vacunación de mascotas: Prevención de enfermedades mortales</h3>
                    <p>Vacunación de mascotas: Protege a tu familia y a tu mascota de enfermedades mortales...</p>
                    <button class="btn-leer-mas">LEER MÁS</button>
                </div>
            </div>
         </a>
        
        <!-- Tarjeta 4 -->
        <a href="sobrepeso-mascotas" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-blog/PerroSobrepeso.jpeg" alt="¿Tu mascota tiene sobrepeso?">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>¿Sabes si tu mascota tiene un problema de sobrepeso u obesidad?</h3>
                    <p>Como saber si mi mascota sufre de sobrepeso u obesidad. La obesidad en animales de...</p>
                    <button class="btn-leer-mas">LEER MÁS</button>
                </div>
            </div>
         </a>
    
        <!-- Tarjeta 5 -->
        <a href="gatificar-tu-casa" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-blog/GatoCasa.jpg" alt="Gatificar tu casa">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>Gatificar tu casa. 5 tips para lograrlo</h3>
                    <p>Gatificar tu casa ¿Sabes la importancia de tener un ambiente adecuado para tu gato en...</p>
                    <button class="btn-leer-mas">LEER MÁS</button>
                </div>
            </div>
         </a>
        
        <!-- Tarjeta 6 -->
        <a href="mejorar-olor-perros" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-blog/OlorPerro.jpg" alt="Cómo mejorar el olor de mi perro">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>Cómo mejorar el olor de mi perro, 6 tips para mejorar el olor de los perros.</h3>
                    <p>6 tips para mejorar el olor de los perros ¿Qué es ese olor? Debemos admitir...</p>
                    <button class="btn-leer-mas">LEER MÁS</button>
                </div>
            </div>
         </a>

        <!-- Tarjeta 7 -->
        <a href="importancia-desparasitacion" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-blog/Desparasitación.jpg" alt="Desparasitacion perros y gatos">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>La importancia de la desparasitación en perros y gatos</h3>
                    <p>La desparasitación en perros y gatos. La desparasitación periódica de nuestras mascotas, debería ser una rutina preventiva...</p>
                    <button class="btn-leer-mas">LEER MÁS</button>
                </div>
            </div>
         </a>
        
        <!-- Tarjeta 8 -->
        <a href="beneficios-esterilizar-mascota" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-blog/EsterilizarMascota.jpg" alt="Beneficios de esterilizar a tu mascota">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>Beneficios de esterilizar a tu mascota</h3>
                    <p>Si acabas de adoptar una mascota o si lo estás considerando, una de las decisiones...</p>
                    <button class="btn-leer-mas">LEER MÁS</button>
                </div>
            </div>
         </a>        
        
        <!-- Tarjeta 9 -->
        <a href="viajar-con-mi-mascota" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-blog/ViajarMascota.jpg" alt="Viajar con mi mascota en avión">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>Viajar con mi mascota en avión</h3>
                    <p>Cada vez son más las personas que quieren llevar de viaje a su mascota durante...</p>
                    <button class="btn-leer-mas">LEER MÁS</button>
                </div>
            </div>
         </a>
    
    </div>
</section>
<app-footer></app-footer>
