<header>
    <nav class="navbar">
        <div class="logo">
            <a href="LandingPage.html">
                <img src="assets/images/images-landing-page/Buckys_Vet_LOGO_sin_fondo.png" alt="Bucky's Vet Logo" class="logo-img">
            </a>
            <div class="logo-text">
                Bucky's Vet
                <span class="slogan">Peludos sanos y felices</span>
            </div>
        </div>
        
        <div class="menu">
            <div class="menu-item">
                <a routerLink="#">PLANES DE MEDICINA</a>
                <div class="submenu">
                    <a routerLink="/plan-medico-integral">PLAN MÉDICO INTEGRAL ACCIDENTE + ENFERMEDAD</a>
                    <a routerLink="/plan-cuidado-preventivo">PLAN CUIDADO PREVENTIVO</a>
                    <a routerLink="/plan-pacientes-cronicos">PLAN PACIENTES CRÓNICOS</a>
                </div>
            </div>

            <div class="menu-item">
                <a routerLink="#">SERVICIOS</a>
                <div class="submenu">
                    <a routerLink="/programa-cita-presencial">PROGRAMA TU CITA PRESENCIAL</a>
                    <a routerLink="/banos-buckysvet">BAÑOS BUCKY'S VET</a>
                    <a routerLink="/asesoria-nutricion">ASESORÍA EN NUTRICIÓN</a>
                    <a routerLink="/consulta-virtual">CONSULTA VIRTUAL</a>
                    <a routerLink="#">TIENDA PUPPIS</a>
                </div>
            </div>

            <div class="menu-item">
                <a routerLink="/sedes">SEDES</a>
            </div>

            <div class="menu-item"> 
                <a routerLink="#">HOSPITAL 24 HORAS</a>
                <div class="submenu">
                    <a routerLink="/hospital-sede-norte">HOSPITAL NORTE</a>
                    <a routerLink="/hospital-sede-centro">HOSPITAL CENTRO</a>
                </div>
            </div>

            <div class="menu-item">
                <a routerLink="#">BLOG</a>
            </div>

            <div class="menu-item">
                <a routerLink="/contacto">CONTACTO</a>
            </div>

            <div class="menu-item">
                <a routerLink="/login">INICIO SESION</a>
            </div>

        </div>

        <div class="carrito">
            <img class="imagen-carrito" src="assets/images/images-landing-page/carrito-de-compras (1).png" alt="Carrito de Compras">
            <span class="mensaje-carrito">El carrito esta vacio</span>
            <span id="cantidad"> 0 </span>
        </div>
    </nav>
</header>
