<app-header></app-header>

<section class="blog-post">
  <h2>¿Sabes si tu mascota tiene un problema de sobrepeso u obesidad?</h2>
  <img src="assets/images/images-blog/PerroSobrepeso.jpeg" alt="¿Tu mascota tiene sobrepeso?" />

  <h1>Como saber si mi mascota sufre de sobrepeso u obesidad</h1>

  <p>La obesidad en animales de compañía es el problema más frecuente relacionado con la nutrición. Al igual que en los humanos, 
    el exceso de peso en las mascotas puede llevar a una serie de problemas de salud, como enfermedades cardíacas, diabetes, 
    problemas articulares y una vida más corta.</p>

  <blockquote>
    “En todo el mundo, los estudios estiman que hasta el 63 % de los gatos y el 59.3 % de los perros de mascota tienen sobrepeso u obesidad”.
  </blockquote>

  <h2>¿Cómo identificar si mi mascota tiene obesidad o sobrepeso?</h2>
  <p>Para reconocer si tu mascota tiene sobrepeso u obesidad debemos evaluar 2 factores:</p>

  <h3>El Peso:</h3>
  <ul>
    <li>Peso Ideal: Acorde a raza y estilo de vida</li>
    <li>Sobrepeso: 10 a 19% por encima de su peso ideal.</li>
    <li>Obesidad: 20% por encima de su peso ideal.</li>
  </ul>

  <h3>Condición Corporal:</h3>
  <p>Según la conformación física de tu mascota, entendemos si está subalimentado, ideal y sobrealimentado.</p>

  <!-- Sección de Tabla de Condición Corporal -->
    <section class="tabla-condicion">
        <h2>TABLA DE CONDICIÓN CORPORAL</h2>
        <div class="contenedor-condicion">
            <!-- Bajo Peso -->
            <div class="tarjeta-condicion bajo-peso">
                <h3>BAJO PESO</h3>
                <div class="icono-mascota">
                    <img src="assets/images/images-asesoria-nutricion/bajo-peso.png" alt="Bajo peso">
                </div>
                <p>Entre el 10% y el 20% por debajo del peso ideal</p>
                <strong>Las principales características son:</strong>
                <ul>
                    <li>Las costillas son apreciables.</li>
                    <li>La cintura se ve claramente.</li>
                    <li>No hay grasa en el pecho.</li>
                </ul>
            </div>

            <!-- Peso Ideal -->
            <div class="tarjeta-condicion peso-ideal">
                <h3>PESO IDEAL</h3>
                <div class="icono-mascota">
                    <img src="assets/images/images-asesoria-nutricion/peso-ideal.png" alt="Peso ideal">
                </div>
                <p>Peso ideal según la edad de la mascota</p>
                <strong>Las principales características son:</strong>
                <ul>
                    <li>Las costillas y vértebras se sienten pero no se ven.</li>
                    <li>Se siente una fina capa de grasa en el pecho.</li>
                    <li>Pliegue abdominal evidente.</li>
                </ul>
            </div>

            <!-- Sobrepeso / Obesidad -->
            <div class="tarjeta-condicion sobrepeso">
                <h3>SOBRE PESO / OBESO</h3>
                <div class="icono-mascota">
                    <img src="assets/images/images-asesoria-nutricion/sobrepeso.png" alt="Sobrepeso">
                </div>
                <p>Entre el 10% y 20% por encima del peso ideal</p>
                <strong>Las principales características son:</strong>
                <ul>
                    <li>Las costillas y vértebras son difíciles de apreciar.</li>
                    <li>La cintura no se encuentra con facilidad.</li>
                    <li>Hay una capa de grasa en la base de la cola.</li>
                </ul>
            </div>
        </div>
    </section>

    <hr>
  <h2>Consecuencias de la obesidad y el sobrepeso</h2>
  <p>Tener una mascota con sobrepeso u obesidad puede generar varias consecuencias en su salud y calidad de vida. Encontramos 
    que el <strong>52% de los perros y el 41% de los gatos con enfermedades articulares tienen sobrepeso u obesidad.</strong> Las consecuencias 
    que tu mascota puede sufrir son:</p>

    <ul>
        <li><strong>Enfermedades locomotoras:</strong> osteoartritis, displasia, roturas, etc.</li>
        <li><strong>Desórdenes endocrinos:</strong> diabetes mellitus, hipotiroidismo, hiperadrenocorticismo.</li>
        <li><strong>Enfermedades cardiorrespiratorias:</strong> estrés respiratorio, colapso traqueal, hipertensión, lipidemia, colapso cardiovascular, etc.</li>
    </ul>

    <p><strong>Otras patologías:</strong> problemas urogenitales, algunos tipos de cáncer, aumento de complicaciones durante la cirugía, entre otros.</p>

    <hr>
  <h2>La prevención es la clave</h2>
  <div class="image-text">
    <img src="assets/images/images-blog/images-sobrepeso-mascotas/PrevencionObesidad.jpg" alt="Prevención obesidad" />
    <p>Uno de los factores más importante para el control de la obesidad es la prevención. La asesoría nutricional con un médico veterinario, permite 
        conocer el estado físico de tu mascota y generar un plan de acción acorde a sus necesidades. La prevención incluye identificar a las mascotas 
        “en riesgo”, realizar un seguimiento proactivo y promover el mantenimiento de un peso y estilo de vida saludables. </p>

    <p>El cuidado nutricional adecuado es esencial en todas las etapas de la vida de nuestras mascotas, incluso cuando padecen enfermedades de tipo 
        progresivo. Una alimentación balanceada y específicamente adaptada puede jugar un papel crucial en la gestión de estas condiciones, permitiendo 
        una progresión lenta de la enfermedad y, en consecuencia, otorgando a nuestra mascota más tiempo con calidad de vida.</p>

    <p>Lograr prevenir el sobrepeso o la obesidad y las consecuencias que esto trae en las mascotas siempre debe ser un trabajo en equipo, tanto el tutor 
        como el médico veterinario trabajarán de la mano para lograr este objetivo y así disfrutar de una vida saludable junto a tu mascota. Recuerda que 
        la mejor medicina es la prevención. </p>  
  </div>

  <hr>
  <p><strong>Si tienes dudas respecto a la nutrición de tu mascota, su estado de salud o su peso ideal, no dudes en escribirnos a 
    nuestra línea de asesoría nutricional gratuita</strong></p>
    <a href="#" class="enlace-verde">CHATEA AHORA CON NUESTRA ASESORÍA MÉDICA</a>

  <hr />

  <h3>Referencias</h3>
  <ol>
    <li>“Purina Institute: Obesity in Dogs and Cats.” Purina Institute, www.purinainstitute.com/es-mx/...</li>
    <li>“Purina Institute: Obesity in Dogs and Cats – Introduction.” Purina Institute, www.purinainstitute.com/...</li>
    <li>Animals Health España. (2019). Estado de la Salud de las Mascotas 2019...</li>
    <li>“La obesidad en gatos: un problema recurrente”. ResearchGate...</li>
  </ol>

  <hr style="margin: 40px 0;">

<h2 style="text-align: center; font-size: 1.1rem; font-weight: bold; letter-spacing: 1px; color: #666565;">
  ─── OTROS POST ───
</h2>

  <div class="blog-contenedor">
    <!-- Tarjeta 1 -->
         <a href="otitis-en-perros" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogOtitis.jpg" alt="Otitis en perros">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>OTITIS EN PERROS</h3>
                    <p>Otitis en perros, su mascota puede padecerlo.</p>
                </div>
            </div>
         </a>

         <!-- Tarjeta 2 -->
        <a href="desparacitacion-de-mascotas" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogDesparacitacionMascota.jpg" alt="Desparasitación de mascotas">
                    <div class="blog-hover"></div>
                </div>
            <div class="blog-contenido">
                <h3>Desparasitación de mascotas: todo lo que debes saber.</h3>
                <p>Desparasitación de tu mascota, muchas veces no le damos la importancia hasta no ver los síntomas.</p>
            </div>
            </div>
         </a>
        
        <!-- Tarjeta 3 -->
        <a href="vacunacion-mascotas" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogVacunacion.jpg" alt="Vacunación de mascotas">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>Vacunación de mascotas: Prevención de enfermedades mortales</h3>
                    <p>Vacunación de mascotas: Protege a tu familia y a tu mascota de enfermedades mortales...</p>
                </div>
            </div>
         </a>
  </div>
</section>

<app-footer></app-footer>
