<app-header></app-header>
<section class="blog-post">
  <h1>OTITIS EN PERROS</h1>
  <img src="assets/images/images-landing-page/BlogOtitis.jpg" alt="Otitis en perros">

  <h2>Otitis en perros, su mascota puede padecerlo.</h2>
  <p><em>Escrito por: Dr. Sebastián Gómez</em></p>

  <p>
    La otitis canina es una enfermedad de alta prevalencia en la clínica veterinaria de pequeños animales.
    Representa entre el <strong>10 y 20%</strong> de todas las consultas en pacientes caninos.
  </p>
  <p>
    La otitis externa se caracteriza por inflamación, dolor y aumento de la secreción ótica normal a nivel del
    conducto auditivo externo; puede complicarse con infecciones secundarias, lo que a su vez conduce a la perforación
    de la membrana timpánica y al desarrollo de otitis media.
  </p>
  <p>
    <strong>Más del 50%</strong> de los perros con otitis externa crónica tienen una otitis media concomitante, que,
    al no tratarse, mantiene el ciclo de inflamación e infección del oído, lo que causará dolor y cambios patológicos
    irreversibles.
  </p>

  <hr>
  <h3>PRINCIPALES CAUSAS DE LA OTITIS:</h3>
  <p>Las causas pueden ser:</p>
  <ul>
    <li><strong>Primarias:</strong> cuerpos extraños, parásitos externos, alergias, enfermedades endocrinas o inmunomediadas.</li>
    <li><strong>Secundarias:</strong> principalmente por infecciones de bacterias o por hongos.</li>
  </ul>

  <p>
    Es importante tener en cuenta la raza del paciente; ya que está demostrado que perros como el
    <strong>cocker spaniel, labrador retriever y caniche</strong> tienen mayor predisposición a sufrir otitis debido a
    la conformación de su pabellón auricular y/o a la susceptibilidad hereditaria. En algunos perros el conducto auditivo 
    es más estrecho de lo normal; en otros, la forma de las orejas o el exceso de pelo favorecen la multiplicación de 
    microorganismos y los predispone a sufrir otitis.
  </p>

    <p>
        La edad también juega un papel importante, debido a que las mascotas más jóvenes tienden a generar procesos 
        infecciosos asociados a parásitos externos como el Otodectes cynotis; y en perros de mayor edad tienden a primar 
        procesos asociados a enfermedades de origen metabólico.
    </p>

  <hr>
  <h3>¿CÓMO SOSPECHAR SI TU MASCOTA TIENE OTITIS?</h3>
  <ol>
    <li>La mayoría de los procesos involucran el conducto auditivo externo se manifiestan a través de sacudidas de cabeza, 
        rascado excesivo de las orejas, piel del oído enrojecida o inflamada, dolor en la zona de los oídos, aumento en la 
        secreción del oído y olor desagradable.</li>
    <li>Si la sacudida de cabeza se presenta de forma repentina, podríamos sospechar de un cuerpo extraño en el canal; procesos 
        un poco más crónicos, por lo general se asocian a enfermedad clínica o subclínica.</li>
    <li>El agua contenida en el canal auditivo externo modifica el ambiente del oído y puede causar proliferación bacteriana; 
        es por ello que antecedentes de baños recientes o viajes que impliquen contacto con agua se deben tener en cuenta al 
        momento de determinar el cuadro de enfermedad.</li>
  </ol> 

  <hr>
  <h3>¿CÓMO PREVENIR LA PRESENTACIÓN DE OTITIS?</h3>
  <p>
    Limpiar con frecuencia el oído externo evita el acúmulo de secreciones y la proliferación bacteriana.
    La frecuencia debe adaptarse a las necesidades de cada mascota.
  </p>

  <img src="assets/images/images-blog/images-otitis-en-perros/LimpiezaOidosMascota.png" alt="Limpieza de oídos en tu mascota">

  <h3>¿CÓMO SE TRATA LA OTITIS?</h3>
  <p>
    Asiste a consulta con nuestros médicos veterinarios. <br>
    <a href="#" class="enlace-verde">CHATEA AHORA CON NUESTRA ASESORÍA MÉDICA</a>
  </p>

  <hr>
  <h4>REFERENCIAS</h4>
  <ul>
    <li>CLINDERVET REVISTA CLÍNICA DE DERMATOLOGÍA VETERINARIA VOLUMEN 23: 
        Otitis externa canina y felina; Otitis media primaria serosa o secretora 
        del oído izquierdo con estenosis conformacional bilateral del canal 
        auditivo externo en un perro de raza Bulldog francés; Tratamiento de las 
        otitis externas.</li>
    <li>SHELL LG. Otitis Media Y Otitis Interna; Etiología, Diagnóstico Y Manejo 
        Médico. VET CLIN NORTH AM SMALL ANIMAL PRACT 1988;18(4):885-899</li>
    <li>ROSSER JR EJ. Causas De Otitis Externa. VET CLIN NORTH AM SMALL ANIM PRACT 
        2004;34(2):459-468.</li>
  </ul>

<h2 style="text-align: center; font-size: 1.1rem; font-weight: bold; letter-spacing: 1px; color: #666565;">
  ─── OTROS POST ───
</h2>

<div class="blog-contenedor">
  <!-- Tarjeta 2 -->
  <a href="desparacitacion-de-mascotas" class="blog-tarjeta-link">
    <div class="blog-tarjeta">
      <div class="blog-imagen">
        <img src="assets/images/images-landing-page/BlogDesparacitacionMascota.jpg" alt="Desparasitación de mascotas">
        <div class="blog-hover"></div>
      </div>
      <div class="blog-contenido">
        <h3>Desparasitación de mascotas; todo lo que debes saber.</h3>
        <p>Desparasitación de tu mascota, muchas veces no le damos la importancia hasta no ver los síntomas.</p>
      </div>
    </div>
  </a>

  <!-- Tarjeta 3 -->
  <a href="vacunacion-mascotas" class="blog-tarjeta-link">
    <div class="blog-tarjeta">
      <div class="blog-imagen">
        <img src="assets/images/images-landing-page/BlogVacunacion.jpg" alt="Vacunación de mascotas">
        <div class="blog-hover"></div>
      </div>
      <div class="blog-contenido">
        <h3>Vacunación de mascotas: Prevención de enfermedades mortales</h3>
        <p>Vacunación de mascotas: Protege a tu familia y a tu mascota de enfermedades mortales...</p>
      </div>
    </div>
  </a>

  <!-- Tarjeta 4 -->
  <a href="sobrepeso-mascotas" class="blog-tarjeta-link">
    <div class="blog-tarjeta">
      <div class="blog-imagen">
        <img src="assets/images/images-blog/PerroSobrepeso.jpeg" alt="¿Tu mascota tiene sobrepeso?">
        <div class="blog-hover"></div>
      </div>
      <div class="blog-contenido">
        <h3>¿Sabes si tu mascota tiene un problema de sobrepeso u obesidad?</h3>
        <p>Como saber si mi mascota sufre de sobrepeso u obesidad. La obesidad en animales de...</p>
      </div>
    </div>
  </a>
</div>

</section>
<app-footer></app-footer>