<app-header></app-header>
<section class="blog-post">
  <h2>Desparasitación de mascotas; todo lo que debes saber.</h2>
  
  <img src="assets/images/images-landing-page/BlogDesparacitacionMascota.jpg" alt="Desparasitación de mascotas">
  
  <h1>Desparasitación de tu mascota, muchas veces no le damos la importancia hasta no ver los síntomas</h1>
  
  <h2>Para nosotros es muy importante guiarte sobre el correcto cuidado de tu mascota. Por eso, te explicamos 
    la importancia de la desparasitación.</h2>
  
  <p>Las enfermedades y los parásitos siguen siendo la principal amenaza para la salud y bienestar de las mascotas. 
    El control depende de la detección temprana, uso adecuado de los medicamentos y cuidado veterinario.</p>
  
  <p>La desparasitación tiene dos objetivos claros:</p>
  
  <ul>
    <li>Ser una medida de rutina preventiva al evitar el contacto con el parásito y, por lo tanto, la presentación 
        de signos clínicos.</li>
    <li>Eliminar el parásito que puede estar ocasionando estos signos de enfermedad en perros y gatos.</li>
  </ul>
  
  <h2>¿Sabías que tu mascota puede alojar parásitos tanto internos como externos, que pueden ser transmitidos a humanos 
    y otros animales?</h2>
  
  <p>Las mascotas pueden tener parásitos internos y externos que afectan su salud e incluso pueden ocasionar enfermedades 
    de tipo zoonótico; es decir, que pueden ser transmitidas a humanos, y también a otros animales, por lo tanto, es de 
    vital importancia desparasitarlas como medida preventiva de salud para la mascota y el hogar donde vive.</p>
  
  <h3>Los parásitos internos viven dentro de la mascota, donde pueden colonizar el intestino, el hígado, e incluso el corazón. 
    Los parásitos externos se encuentran sobre la piel, pelo y oídos.</h3>
  
  <p><strong>-Parásitos Internos:</strong></p>
  
  <p>Se encuentran en el interior del cuerpo, principalmente en el intestino; sin embargo, pueden migrar a otros órganos. 
    Son conocidos como gusanos redondos, gusanos planos y protozoos. Si tu mascota tiene alguno de estos parásitos, es posible 
    que presente episodios de vómitos y /o diarreas que pueden tener moco o sangre, distensión abdominal, dolor abdominal, 
    decaimiento, anemias y en casos de infestaciones severas, obstrucciones intestinal, y la muerte principalmente en cachorros.</p>
  
  <p><strong>-Parásitos Externos:</strong></p>
  
  <p>Se encuentran principalmente en piel, pelo y oídos. Estos parásitos son pulgas, garrapatas, mosquitos y ácaros. No solo 
    pueden ocasionar signos clínicos en piel como rascado, lamido, irritación, lesiones y otitis, también pueden transmitir 
    enfermedades graves generalizadas asociadas a su picadura, o ingestión como:</p>
  
  <ul>
    <li>Erlichiosis canina, Babesiosis canina, Anaplasmosis canina, Hepatozoonosis canina (hemoparásitos)</li>
    <li>Leishmaniasis canina.</li>
    <li>Dirofilariasis (gusano del corazón)</li>
    <li>Dipilidiasis (parasitósis intestinal por ingestión de pulgas).</li>
  </ul>
  
  <hr>
  <h2>¿Cada cuándo se deben desparasitarlas mascotas?</h2>
  
  <p>La prevención de parásitos generalmente requiere del uso regular de desparasitantes y pruebas de diagnóstico consistentes. 
    Cada paciente debe tener un protocolo de desparasitació ajustado a su estilo de vida, ya que no todas las mascotas tienen las 
    mismas posibilidades de contagio. Dichos exámenes se deben tomar de forma periódica para identificar si es necesario hacer 
    ajustes en su protocolo de desparasitación, detectando de manera precoz cualquier agente parasitario que pueda causar una enfermedad grave.</p>
  
  <img src="assets/images/images-blog/images-desparasitacion-de-mascotas/DesparasitaciónPerrosGatos.jpg" alt="Desparasitación en perros y gatos">

  <h2>La desparasitación depende de la edad de la mascota:</h2>
  <h2>Cachorros:</h2>
  <h2>Desparasitación Interna en Cachorros (hasta 1 año de edad)</h2>  
  
  <p>Si tu mascota es cachorro, el protocolo de desparasitación debe iniciarse a los 15 días de vida y continuar cada 15 días hasta 
    los 4 meses de edad. Recuerda que en esta etapa se realiza el protocolo de vacunación. Para continuar la desparasitación,  
    dependiendo de su estilo de vida, puede ser necesaria de forma  mensual, bimensual o trimestral.</p>
    
    <p>Las presentaciones de los desparasitantes se pueden administrar en forma de tabletas, algunas de ellas masticables, lo cual hace 
    un manejo amigable de nuestras mascotas. También encontramos presentaciones en suspensión oral.</p>

    <h2>Desparasitación Externa en Cachorros (hasta 1 año de edad)</h2>

    <p>La desparasitación externa en pacientes cachorros debe iniciarse, en promedio, después de las 12 semanas de nacidos. La frecuencia 
        de la desparasitación depende del tipo de producto utilizado, puede ser  mensual o trimestral. </p>

    <h2>Adultos:</h2>
    <h2>Desparasitación Interna en Adultos (mayores de 1 año de edad)</h2>

    <p>En la etapa adulta, el procedimiento debe realizarse de acuerdo a sus necesidades, que puede variar de 30 a 90 días, administrando 
        tabletas, suspensiones o pipetas. </p>

    <h2>Desparasitación Externa en Adultos (mayores de 1 año de edad)</h2>

    <p>La desparasitación externa en mascotas adultas es una práctica que debe realizarse con regularidad, ya que los adultos están más expuestos 
        a parásitos externos. Esta desparasitación generalmente debe hacerse de manera mensual, aunque algunos productos del mercado ofrecen 
        protección por hasta 3 meses. Aun así, siempre es recomendable que el tipo de producto y la frecuencia de uso estén  guiados por el 
        criterio de tu veterinario de confianza. </p>

  <hr>
  <p><strong>Mantener a tu mascota saludable y protegida contra parásitos internos y externos es esencial para
     prevenir enfermedades y mantener su bienestar.</strong> Agenda una cita para la desparasitación completa de tu mascota: +573102373953</p>

  <p><strong>No dudes en escribirnos a nuestra línea de asesoría médica:</strong></p>
  
  <p>
    Asiste a consulta con nuestros médicos veterinarios. <br>
    <a href="#" class="enlace-verde">CHATEA AHORA CON NUESTRA ASESORÍA MÉDICA</a>
  </p>

  <hr style="margin: 40px 0;">

  <h2 style="text-align: center; font-weight: 600;">OTROS POST</h2>

  <div class="blog-contenedor">
    <!-- Tarjeta 1 -->
         <a href="otitis-en-perros" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogOtitis.jpg" alt="Otitis en perros">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>OTITIS EN PERROS</h3>
                    <p>Otitis en perros, su mascota puede padecerlo.</p>
                </div>
            </div>
         </a>

         <!-- Tarjeta 3 -->
        <a href="vacunacion-mascotas" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogVacunacion.jpg" alt="Vacunación de mascotas">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>Vacunación de mascotas: Prevención de enfermedades mortales</h3>
                    <p>Vacunación de mascotas: Protege a tu familia y a tu mascota de enfermedades mortales...</p>
                </div>
            </div>
         </a>
        
        <!-- Tarjeta 4 -->
        <a href="sobrepeso-mascotas" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-blog/PerroSobrepeso.jpeg" alt="¿Tu mascota tiene sobrepeso?">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>¿Sabes si tu mascota tiene un problema de sobrepeso u obesidad?</h3>
                    <p>Como saber si mi mascota sufre de sobrepeso u obesidad. La obesidad en animales de...</p>
                </div>
            </div>
         </a>
  </div>
</section>

<app-footer></app-footer>