<footer class="footer">
    <div class="footer-contenedor">
        <!-- Publicaciones del Blog -->
        <div class="footer-blog">
            <h4>PUBLICACIONES DE NUESTRO BLOG</h4>
            <div class="footer-blog-item">
                <a href="#">OTITIS EN PERROS</a>
                <span>08 MARCH, 2024</span>
            </div>
            <div class="footer-blog-item">
                <a href="#">Desparasitación de mascotas: todo lo que debes saber.</a>
                <span>13 APRIL, 2024</span>
            </div>
            <div class="footer-blog-item">
            <a href="#">Vacunación de mascotas: Prevención de enfermedades mortales</a>
                <span>02 SEPTEMBER, 2024</span>
            </div>
        </div>

        <!-- Políticas y condiciones -->
        <div class="footer-politicas">
            <h4>CONECE NUESTRAS POLÍTICAS Y CONDICIONES</h4>
            <a href="#">- Políticas de Privacidad</a>
            <a href="#">- Términos y condiciones</a>
        </div>

        <!-- Redes sociales y logo -->
        <div class="footer-contacto">
            <!-- Redes sociales -->
            <div class="footer-redes">
                <a href="https://www.facebook.com/" target="_blank">
                    <img class="footer-logo1" src="assets/images/images-landing-page/facebook-logo.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <img class="footer-logo2" src="assets/images/images-landing-page/instagram-logo.png" alt="Instagram">
                </a>
                <a href="https://x.com/" target="_blank">
                    <img class="footer-logo3" src="assets/images/images-landing-page/twitter-logo.png" alt="Twitter">
                </a>
            </div>

            <!-- Logo -->
            <div class="footer-logo">
                <img src="assets/images/images-landing-page/Buckys_Vet_LOGO_y_NOMBRE_sin_fondo.png" alt="Bucky's Vet Logo">
            </div>
        </div>
    </div>
</footer>