<app-header></app-header>

<section class="blog-post">
  <h2>Vacunación de mascotas: Prevención de enfermedades mortales</h2>
  <img src="assets/images/images-landing-page/BlogVacunacion.jpg" alt="Vacunación de mascotas">

  <h1>Protege a tu familia y a tu mascota de enfermedades potencialmente mortales ¡La vacunación es la solución!</h1>

  <p>¿Sabías que tu mascota puede transmitir enfermedades que son prevenibles con la vacunación?</p>
  <p>
    Nuestras mascotas pueden ser portadoras de enfermedades que son transmisibles a los humanos, como lo son la rabia y la leptospira.
  </p>

  <p>
    El 99% de los casos de rabia en el hombre se deben a mordeduras de perros infectados y el 66% de los colombianos que se infectan 
    de leptospira la contraen de su perro; dos enfermedades totalmente prevenibles gracias a la vacunación.
  </p>

  <h3>¿Qué enfermedades previene la vacunación de las mascotas?</h3>

  <p>Las vacunas son un escudo protector que fortalece el sistema inmunológico de las mascotas. Algunas de las enfermedades más 
    comunes que se pueden prevenir con la vacunación son:</p>

  <h4>Perros</h4>
  <table>
    <thead>
      <tr>
        <th>Enfermedad</th>
        <th>Síntomas</th>
        <th>Transmisión</th>
        <th>Mortalidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Distemper canino (moquillo)</td>
        <td>Fiebre, infección pulmonar, convulsiones, lesiones en la piel, supresión inmunológica</td>
        <td>Contacto directo, aire</td>
        <td>Alta</td>
      </tr>
      <tr>
        <td>Parvovirus canino</td>
        <td>Fiebre, vómitos, diarrea con sangre, supresión inmunológica</td>
        <td>Contacto directo</td>
        <td>Media</td>
      </tr>
      <tr>
        <td>Hepatitis infecciosa canina (adenovirus tipo 1)</td>
        <td>Vómitos, diarrea, ictericia, hepatomegalia, dolor abdominal, hemorragia</td>
        <td>Contacto directo</td>
        <td>Baja</td>
      </tr>
      <tr>
        <td>Infecciones respiratorias (adenovirus tipo 2)</td>
        <td>Fiebre, enfermedad respiratoria</td>
        <td>Contacto directo</td>
        <td>Baja</td>
      </tr>
      <tr>
        <td>Rabia</td>
        <td>Ataque al sistema nervioso, mortalidad</td>
        <td>Mordedura de animal infectado</td>
        <td>Alta</td>
      </tr>
      <tr>
        <td>Leptospira</td>
        <td>Insuficiencia hepática y renal</td>
        <td>Contacto con orina contaminada</td>
        <td>Baja</td>
      </tr>
      <tr>
        <td>Parainfluenza</td>
        <td>Síntomas gripales, dificultad respiratoria</td>
        <td>Contacto directo</td>
        <td>Baja</td>
      </tr>
      <tr>
        <td>Tos de perreras</td>
        <td>Neumonía grave</td>
        <td>Aire, superficies contaminadas contacto directo</td>
        <td>Baja</td>
      </tr>
    </tbody>
  </table>

  <h4>Gatos</h4>
  <table>
    <thead>
      <tr>
        <th>Enfermedad</th>
        <th>Síntomas</th>
        <th>Transmisión</th>
        <th>Mortalidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Panleucopenia felina</td>
        <td>Contagiosa, afecta gatitos gravemente</td>
        <td>Contacto directo</td>
        <td>Alta</td>
      </tr>
      <tr>
        <td>Calicivirus felino</td>
        <td>Secreción nasal, gingivitis, úlceras en la boca</td>
        <td>Contacto directo</td>
        <td>Media</td>
      </tr>
      <tr>
        <td>Herpesvirus felino</td>
        <td>Síntomas oculares como queratitis y conjuntivitis</td>
        <td>Contacto directo</td>
        <td>Baja</td>
      </tr>
      <tr>
        <td>Leucemia felina</td>
        <td>Inmunosupresión, afecta sistema inmune y médula ósea</td>
        <td>Contacto directo</td>
        <td>Alta</td>
      </tr>
      <tr>
        <td>Rabia</td>
        <td>Ataque al sistema nervioso, mortalidad</td>
        <td>Mordedura de animal infectado</td>
        <td>Alta</td>
      </tr>
    </tbody>
  </table>

  <hr>

  <p>
    Es importante recordar que las vacunas no solo son para cachorros y gatitos; los perros y gatos adultos también necesitan refuerzos 
    periódicos para mantener su inmunidad en niveles adecuados.
    Además de proteger a nuestras mascotas, la vacunación también contribuye a la salud pública. Al mantenerlos vacunados, prevenimos 
    el contagio de enfermedades potencialmente mortales. La vacunación de los perros ha contribuido a eliminar la rabia en varios países del mundo.
  </p>

  <img src="assets/images/images-blog/images-vacunacion-mascotas/VacunacionMascotasAdulta.png" alt="Vacunación adultos">

  <p>
    Si deseas agendar una cita con nuestros médicos veterinarios para vacunar a tu mascota, lo puedes hacer en este link:
  </p>

  <iframe src="programa-cita-presencial" width="100%" height="600" frameborder="100" scrolling="yes"></iframe>

  <hr>

  <p><b>World Organization for Animal Health.</b> (Año). Rabia. Recuperado de https://www.woah.org/es/enfermedad/rabia/</p>

  <hr>
  <p><b>Si tienes dudas sobre el plan de vacunación de tu mascota, no dudes en escribirnos a nuestra línea de asesoría médica:</b></p>
  <a href="#" class="enlace-verde">CHATEA AHORA CON NUESTRA ASESORÍA MÉDICA</a>

  <hr style="margin: 40px 0;">

<h2 style="text-align: center; font-size: 1.1rem; font-weight: bold; letter-spacing: 1px; color: #666565;">
  ─── OTROS POST ───
</h2>

  <div class="blog-contenedor">
    <!-- Tarjeta 1 -->
         <a href="otitis-en-perros" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogOtitis.jpg" alt="Otitis en perros">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>OTITIS EN PERROS</h3>
                    <p>Otitis en perros, su mascota puede padecerlo.</p>
                </div>
            </div>
         </a>

         <!-- Tarjeta 2 -->
        <a href="desparacitacion-de-mascotas" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogDesparacitacionMascota.jpg" alt="Desparasitación de mascotas">
                    <div class="blog-hover"></div>
                </div>
            <div class="blog-contenido">
                <h3>Desparasitación de mascotas: todo lo que debes saber.</h3>
                <p>Desparasitación de tu mascota, muchas veces no le damos la importancia hasta no ver los síntomas.</p>
            </div>
            </div>
         </a>
        
        <!-- Tarjeta 4 -->
        <a href="sobrepeso-mascotas" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-blog/PerroSobrepeso.jpeg" alt="¿Tu mascota tiene sobrepeso?">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>¿Sabes si tu mascota tiene un problema de sobrepeso u obesidad?</h3>
                    <p>Como saber si mi mascota sufre de sobrepeso u obesidad. La obesidad en animales de...</p>
                </div>
            </div>
         </a>
  </div>
</section>

<app-footer></app-footer>
<p>vacunacion-mascotas works!</p>
