<app-header></app-header>

<h1 class="titulo mb-4">Lista de Dueños</h1>

<div class="actions">
  <button class="btn btn-primary" [routerLink]="['/crear-dueno']">Agregar Dueño</button>
</div>

<!-- Mensaje en caso de que no haya dueños registrados -->
<div *ngIf="duenos.length === 0" class="alert alert-info">
  No hay dueños registrados.
</div>

<!-- Tabla de dueños -->
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Cédula</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Celular</th>
      <th>Imagen</th>
      <th colspan="2" class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dueno of duenos">
      <td>
        <a class="id" [routerLink]="['/detalles-dueno', dueno.id]">{{ dueno.cedula }}</a>
      </td>
      <td>{{ dueno.nombre }}</td>
      <td>{{ dueno.email }}</td>
      <td>{{ dueno.telefono }}</td>
      <td>
        <img [src]="dueno.imagenUrl" alt="Imagen del dueño" style="max-width: 50px; max-height: 50px;" />
      </td>
      <td></td>
      <td class="text-center">
        <button class="btn btn-info" [routerLink]="['/modificar-dueno', dueno.id]">Editar</button>
        <button class="btn btn-danger" (click)="eliminarDueno(dueno.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<app-footer></app-footer>
