<app-header></app-header>

<section class="blog-post">
  <h2>La importancia de la desparasitación en perros y gatos</h2>
  <img src="assets/images/images-blog/Desparasitación.jpg" alt="Desparasitacion perros y gatos" />

  <h1>La desparasitación en perros y gatos</h1>

  <p>La <strong>desparasitación</strong> periódica de nuestras mascotas, debería ser una rutina preventiva e imprescindible 
    durante toda la vida del animal, aunque uno de los períodos más vulnerables será mientras son cachorros por la inmadurez 
    de su sistema inmunológico. La <strong>desparasitación</strong> consiste en impedir el contacto con el parásito o eliminar 
    al propio parásito en caso de que ya hubiese habido contacto.</p>

  <p>Nuestros animales pueden alojar parásitos, tanto internos como externos, que afectarán negativamente su salud y pueden 
    transmitirse a los seres humanos y a otros animales.<br>
  Actualmente, existen en el mercado un buen número de productos específicos para desparasit ar fácilmente a nuestras mascotas, 
  y podremos elegir el que más se adapte a sus necesidades.</p>

  <h2>Tipos de parásitos</h2>
  <p>Los parásitos pueden ser internos o externos.</p>

  <h3>Parásitos internos</h3>
  <p>Viven en el interior del cuerpo del animal, principalmente en los intestinos. Se pueden distinguir dos tipos:</p>
  <ul>
    <li>Lombrices planas <em>(Cestodos o Tenias)</em></li>
    <li>Lombrices redondas <em>(Nematodes)</em></li>
  </ul>

  <p>Los síntomas de la infesta pueden ser diversos. Algunos parásitos como el <em>Echinococcus granulosus</em> no produce ninguna 
    alteración en el animal, sin embargo, los huevos eliminados a través de las heces, pueden resultar peligrosos al ser ingeridos 
    por humanos o por otros animales ya que la larva se enquista produciendo <em>“Quistes Hidatídicos”</em>, habitualmente en el 
    hígado, donde producen graves desórdenes.<br></p>

    <p>Otro de los síntomas habituales de las lombrices son las alteraciones gastrointestinales (vómitos, diarreas, hemorragias). 
        En infestaciones muy severas se podrían producir obstrucciones intestinales, anemias e incluso alteraciones nerviosas.</p>

  <h3>Parásitos externos</h3>
  <img src="assets/images/images-blog/images-importancia-desparasitacion/ParasitosExternos.jpg" alt="Los parásitos externo que afectan a la mascotas" />
  <p>A éstos los encontramos en el exterior del animal, a menudo de forma visible.<br>
  Aquí tienes los más frecuentes:</p>
  <ul>
    <li><strong>Garrapata;</strong> es el más grande de los ácaros, se alimenta de la sangre de su huésped, al que permanece 
        enganchada mientras se llena. Una vez saciada, se desprende. Producen en el animal prurito y dermatitis y podrían 
        transmitirle graves enfermedades como la <em>Ehrlichiosis</em> y entre su variada sintomatología se encuentra la 
        <em>epistaxis</em> (hemorragia nasal) que en estados graves podría ser mortal para el animal.</li>
    <li><strong>Pulga;</strong> este pequeño insecto saltador se alimenta de sangre. La picadura produce en el animal (y en 
        las personas) un molesto escozor. Su saliva puede desencadenar reacciones alérgicas produciendo erupciones cutáneas 
        más o menos importantes, en función de la intolerancia.</li>
  </ul>

  <img src="assets/images/images-blog/images-importancia-desparasitacion/CicloGarrapatas.jpg" alt="la importancia de la desparasitación en perros y gatos" />

  <ul>
    <li><strong>Mosquito;</strong> el conocido y molesto insecto puede causar en nuestra mascota graves y, en algunas ocasiones, 
        mortales enfermedades como la <em>Leishmaniosis</em> y la <em>Filariosis</em> ya que actúa como portador del parásito causante.</li>
  </ul>

  <h2>¿Cuándo y cómo desparasitar a nuestra mascota?</h2>
  <p>El veterinario te indicará tratamientos y pautas según la especie, el tamaño y la edad del animal.<br>
  Aquí te mostramos los tratamientos de prevención más habituales en animales sanos:</p>

  <h3>Animales Adultos</h3>
  <ul>
    <li><strong>Parásitos internos:</strong> Generalmente se aplica el tratamiento durante todo el año, cada 3 meses. Lo normal 
        será mediante un comprimido, pipetas o inyectables.</li>
    <li><strong>Parásitos externos:</strong> La posología y duración del tratamiento ira en función de lo que marque el producto 
        elegido. Generalmente la protección dura entre 1 o 2 meses. El periodo de aplicación depende de la época del año y las 
        variaciones del clima. Los formatos habituales suelen ser sprays, pipetas y collares.</li>
  </ul>

  <h3>Cachorros</h3>
  <p>Los cachorros son especialmente vulnerables a los parásitos por lo que hay que tener especial cuidado con ellos. Su joven e 
    inmaduro sistema inmunológico podría no ser capaz de combatir el problema.</p>
  <p>Desde el inicio, se les debe desparasitar de lombrices intestinales y de protozoos parásitos. Transcurridos unos meses, se 
    debe iniciar la desparasitación externa teniendo en cuenta la toxicidad de estos productos.</p>
  <p>En cualquier caso, es conveniente seguir la pauta e indicaciones que vaya dando nuestro veterinario.</p>
  <p>Es importante seguir las recomendaciones de un veterinario para establecer un programa de desparasitación adecuado para tu mascota.</p>

  <p>Recuerda <a href="programa-cita-presencial">agendar una cita</a> ahora para que uno de nuestros veterinarios evalue a tu mascota</p>

  <hr style="margin: 40px 0;">

  <h2 style="text-align: center; font-size: 1.1rem; font-weight: bold; letter-spacing: 1px; color: #666565;">
    ─── OTROS POST ───
  </h2>

  <div class="blog-contenedor">
    <!-- Tarjeta 1 -->
         <a href="otitis-en-perros" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogOtitis.jpg" alt="Otitis en perros">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>OTITIS EN PERROS</h3>
                    <p>Otitis en perros, su mascota puede padecerlo.</p>
                </div>
            </div>
         </a>

         <!-- Tarjeta 2 -->
        <a href="desparacitacion-de-mascotas" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogDesparacitacionMascota.jpg" alt="Desparasitación de mascotas">
                    <div class="blog-hover"></div>
                </div>
            <div class="blog-contenido">
                <h3>Desparasitación de mascotas: todo lo que debes saber.</h3>
                <p>Desparasitación de tu mascota, muchas veces no le damos la importancia hasta no ver los síntomas.</p>
            </div>
            </div>
         </a>
        
        <!-- Tarjeta 3 -->
        <a href="vacunacion-mascotas" class="blog-tarjeta-link">
            <div class="blog-tarjeta">
                <div class="blog-imagen">
                    <img src="assets/images/images-landing-page/BlogVacunacion.jpg" alt="Vacunación de mascotas">
                    <div class="blog-hover"></div>
                </div>
                <div class="blog-contenido">
                    <h3>Vacunación de mascotas: Prevención de enfermedades mortales</h3>
                    <p>Vacunación de mascotas: Protege a tu familia y a tu mascota de enfermedades mortales...</p>
                </div>
            </div>
         </a>
  </div>

</section>

<app-footer></app-footer>
